@{
    ViewBag.Title = "Admin Page";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<form>
    <p>
        <input id="Username1" type="text" placeholder="Username" />
    </p>
    <p>
        <input id="Password1" type="password" placeholder="Password" />
    </p>
    <p>
        <input id="Submit1" type="submit" value="submit" />
    </p>
</form>