@{
    ViewBag.Title = "Customer Page";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<script>
    $(document).ready(function () {
        $.getJSON("../api/items",
        function (data) {
        var row;
            for (var i = 0; i < data.length; i++) {
                if (!data[i].IsSnack) { 
                    row = $('<tr/>');
                    row.append("<td>" + data[i].Id + "</td>");
                    row.append("<td>" + data[i].Name + "</td>");
                    row.append("<td>$" + data[i].UnitPrice.toFixed(2) + "</td>");
                    row.append("<td>Drink</td>");
                    row.append("<td><form>\
                                <input type='hidden' name='Id' value='" + data[i].Id + "'>\
                                <input type='number' name='Quantity' min='1' max='9' value='1'>\
                                <input type='submit' value='Place Order'>\
                                </form></td>");
                    $('table').append(row);
                }
                else {
                    row = $('<tr/>');
                    row.append("<td>" + data[i].Id + "</td>");
                    row.append("<td>" + data[i].Name + "</td>");
                    row.append("<td>$" + data[i].UnitPrice.toFixed(2) + "</td>");
                    row.append("<td>Snack</td>");
                    row.append("<td><form>\
                                <input type='hidden' name='Id' value='" + data[i].Id + "'>\
                                <input type='number' name='Quantity' min='1' max='9' value='1'>\
                                <input type='submit' value='Place Order'>\
                                </form></td>");
                    $('table').append(row);
                }
            }
        });
    });
</script>
<table class="table table-bordered table-condensed table-hover table-striped">
        <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Price</th>
        <th>Type</th>
        <th>Quantity</th>
        </tr>
</table>

<form>
<p>
    <input id="Username1" type="text" placeholder="Username"/></p>
<p>
    <input id="Password1" type="password" placeholder="Password"/></p>
<p>
    <input id="Submit1" type="submit" value="submit" /></p>
</form>


